main.container{
  border:solid;
  width:800px;
  margin: auto;
  margin-top: 50px;
}

.phoneContainer{
  width: 440px;
  display:inline-block;
  text-align: center;
  border:solid;
}

.signinContainer{
  height:200px;
  width: 348px;
  background-color:blue;
  display:inline-block;
}

.phoneContainer img{
  width:400px;
  margin-top: 40px;


}
