body{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}
main.container{
  width:800px;
  margin: auto;
  margin-top: 50px;
}

.phoneContainer{
  width: 440px;
  display:inline-block;
  text-align: center;
  border:solid;
}

.signinContainer{
  width: 349px;
  display:inline-block;
  float: right;
  text-align:center;
}

.phoneContainer img{
  width:400px;
  margin-top: 40px;


}



.imageHeader img{
  width: 250px;

}

.signUpText{
  width: 250px;
  color: #999;
  margin: auto;
}
